# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
._*
.Spotlight-V100
.Trashes
*.swp
ehthumbs.db
Thumbs.db

# VS Code
.vscode/
*.code-workspace

# Composer & Node
/vendor/
/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
.pnp.*
.pnp

# Logs
*.log

# Build
/dist/
/build/
/*.zip

# SASS/SCSS cache
.sass-cache/

# Env files
.env
.env.*

# Backup files
*.bak
*.tmp
*~

# FTP/Deployment
.ftpconfig
.deploy*

# System specific
Thumbs.db
ehthumbs.db
